{% extends 'base.html' %}


{% block content %}

    <!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->

    <!--This means if the url has 'command=verification' it means the verification has not been done-->
    <!--'request.GET.command' means 'command=verification' in the url of the browser of the user, as given in the function 'register' of 'accounts/views.py'. And this gets 'command' value from the function: 'register' of 'accounts/views.py'. This value is present in the browser url and so we retrieve it using 'request.GET' because by default DJANGO uses 'request.GET' to retrieve user input from the url-->
    <!--Similarly, the 'request.GET.email' means the email address in the url of the browser of the user as given in the function 'register' of 'accounts/views.py'. This value is present in the browser url and so we retrieve it using 'request.GET' because by default DJANGO uses 'request.GET' to retrieve user input from the url-->
    {% if request.GET.command == 'verification' %}

        <div class="container card mx-auto alert alert-info text-center" role="alert" style="max-width: 870px; margin-top:100px;">
            Thank you for registering with us. We have sent a verification mail to your email address [{{ request.GET.email }}]
            <br><br>
            Already verified? <a href="{% url 'login' %}">Login</a>
        </div>
    {% else %}

        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">

            <div class="card-body">
                <h4 class="card-title mb-4">Sign in</h4>

                <!--GET ERROR MESSAGES-->
                {% include 'includes/alerts.html' %}
                <br>

                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email Address" name="email">
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="password">
                    </div> <!-- form-group// -->
                    
                    <div class="form-group">
                        <a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a> 
                    
                    </div> <!-- form-group form-check .// -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                    </div> <!-- form-group// -->    
                </form>
            </div> <!-- card-body.// -->
        </div> <!-- card .// -->

        <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
        <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
{% endif %}

</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}