<!--This page is referenced in the 'forgotPassword' function of the 'view.py' file of the 'Account' app. It is the email for the activation of the registered account-->
<!--'autoescape' helps to prevent cross site scripting: a situation where hackers send in malicious content(e.g a url link) into a website. And upon clicking that link, the hacker has access to the user details and other information -->

{% autoescape off %}
    Hi {{ user.first_name }},
    As requested, please click the link below to reset your password
    http://{{ domain }}{% url 'resetpassword_validate' uidb64=uid token=token %}
    If you think it is not you please ignore this email.
{% endautoescape %}