{% extends 'base.html' %}

{% load static %}

{% block content %}

    <section class="section-content padding-y bg d-flex align-items-center justify-content-center" style="height: 79vh;">
        <div class="container text-center">
            <h1>Order Placed Successfully!</h1>
            <p>Thank you for your purchase. Your order has been confirmed.</p>
            <p>We'll notify you once it’s on the way!</p>
            <a href="/" class="btn btn-primary">Return to Homepage</a>
        </div>
    </section>

{% endblock %}